<h1>HCMUT Computer Lab Booking System v1.0</h1>

<% if session[:student_id] != nil %>
	<p>Someone is logged in.</p>
<% else %>
	<p>Waiting for someone to login...</p>
<% end %>

    <div id="nav">
        <% if current_student %>
        <%= link_to "Edit Profile", edit_student_path(current_student.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>
        <%= link_to "Register", new_student_path%> | 
        <%= link_to "Login", :login %>
        <% end %>
    </div>

